footer {
    width: 100%;
    // height: 500px;
    .serve {
        width: $w;
        .serve-top {
            width: $w1;
            margin: 0 auto;
            border-bottom: 1px solid #e0e0e0;
            padding: 27px 0px;
        }
        ul {
            li {
                width: 242.73px;
                float: left;
                border-right: 1px solid #e0e0e0;
                text-align: center;
            }
            a {
                color: #616161;
                font-size: 16px;
            }
            li:last-child {
                border-right: none;
            }
        }
        .serve-bottom {
            width: $w1;
            height: 212px;
            margin: $m;
            padding: 40px 0px;
        }
        .guide {
            width: $w1 - 252;
            height: 100%;
            float: left;
            li {
                width: 160px;
                border: none;
            }
            p {
                margin-top: 10px;
                a {
                    color: #757575;
                    font-size: 12px;
                }
            }
            h3 {
                font-size: 14px;
                color: #424242;
                margin-bottom: 26px;
            }
        }
        .contact {
            width: 251px;
            color: #616161;
            font-size: 14px;
            text-align: center;
            float: left;
            border-left: 1px solid #e0e0e0;
            .phone {
                color: #ff6700;
                font-size: 22px;
            }
            p {
                font-size: 12px;
            }
            a {
                width: 120px;
                height: 30px;
                display: block;
                @include borderstyle(1px, solid, #ff6700);
                color: #ff6700;
                text-align: center;
                line-height: 30px;
                margin-left: 64px;
            }
            a:hover {
                color: #fff;
                background: #ff6700;
            }
            div {
                margin-top: 10px;
            }
        }
    }
    .copyright {
        width: $w;
        // height: 400px;
        background: #f5f5f5;
        padding: 30px 0px;
        .copyright-main {
            width: $w1;
            margin: 0 auto;
        }
        .equity {
            float: left;
            margin-right: 10px;
        }
        .equity-nav {
            font-size: 12px;
            a {
                color: #757575;
            }
            span {
                margin: 0 .3em;
                color: #b0b0b0;
            }
        }
        .equity-state {
            font-size: 12px;
            color: #757575;
            a {
                color: #757575;
            }
        }
        .links {
            width: 1096px;
            height: 28px;
            margin: 0 auto;
            // margin-left: 67;
            margin-top: 4px;
        }
        .links-noe {
            width: 83.02px;
            height: 28px;
        }
        .links-last {
            width: 105.6px;
            height: 40px;
        }
    }
}