* {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
}

// 头部内容样式
header {
    width: $w;
    overflow: hidden;
    // 头部广告
    .bannerAD {
        width: $w;
        height: 120px;
        background: darkcyan;
        img {
            width: $w;
            height: 100%;
        }
    }
    // 顶部导航
    .nav {
        width: $w;
        height: 40px;
        background: $color;
        color: #b0b0b0;
        .nav-main {
            width: $w1;
            margin: $m;
            font-size: 12px;
            a {
                line-height: 40px;
                text-align: center;
                color: #b0b0b0;
            }
            span {
                margin: 0 .3em;
                color: #424242;
            }
            a:hover {
                color: #fff;
            }
        }
        .car {
            width: 120px;
            line-height: 40px;
            text-align: center;
            background: #424242;
            float: right;
            margin-left: 15px;
            span {
                color: #b0b0b0;
            }
        }
        .user {
            width: 142.47px;
            line-height: 40px;
            text-align: center;
            float: right;
        }
    }
    // 顶部下面的导航
    .container {
        width: $w1;
        height: 100px;
        margin: $m;
        overflow: hidden;
        .biao {
            float: left;
            width: 50px;
            height: 50px;
            margin: 22px 0px;
        }
        .list-nav {
            float: left;
            margin-top: 12px;
            margin-left: 180px;
            a {
                display: block;
                line-height: 40px;
                text-align: center;
                padding: 22px 5px;
                font-size: 16px;
                color: #333333;
            }
        }
        .seek {
            margin-top: 30px;
            float: right;
        }
        .txt {
            display: block;
            width: 245px;
            height: 40px;
            float: left;
        }
        .tex-tow {
            width: 40px;
            height: 40px;
            float: left;
            border-left: none;
        }
        input {
            @include borderstyle(1px, solid, gray)
        }
    }
    // 轮播图
    .slideshow {
        width: $w1;
        height: 460px;
        margin: $m;
        background: url(../img/1.jpg)no-repeat;
        background-size: 100% 100%;
        margin-bottom: 14px;
        .nav-menu {
            width: 500px;
            height: $w;
            background: #fff;
            float: left;
            display: none;
            // position: relative;
        }
        // .nav-menus {
        //     width: 500px;
        //     height: $w;
        //     // position: absolute;
        //     // top: 0px;
        //     // left: 0px;
        // }
    }
    .nav-tow {
        width: 234px;
        height: 440px;
        padding-top: 20px;
        @include opacityvalue(0.6);
        background: rgb(105, 101, 101, );
        float: left;
        a {
            display: block;
            height: 42px;
        }
        li {
            width: 214px;
            height: 42px;
            padding-left: 20px;
            font-size: 14px;
            line-height: 42px;
            position: relative;
            color: #fff;
        }
        span {
            position: absolute;
            top: 0px;
            right: 20px;
            font-size: 18px;
            color: #e0e0e0;
        }
    }
    // 头部最后的内容
    .bottom {
        width: $w1;
        height: 170px;
        margin: $m;
        .fast {
            width: 228px;
            height: 158px;
            background: #333333;
            padding: 3px;
            float: left;
            margin-bottom: 26px;
            li {
                width: 73px;
                height: 80px;
                border-right: 1px solid;
            }
            li:nth-child(3) {
                border-right: none;
            }
            li:last-child {
                border-right: none;
            }
            li:nth-child(-n+3) {
                border-bottom: 1px solid;
            }
            a {
                display: block;
                padding: 0 3px;
                font-size: 12px;
                text-align: center;
                color: #fff;
                padding-top: 18px;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .span1 {
            width: 315px;
            height: 164px;
            margin-left: 15px;
            float: left;
            img {
                width: $w;
                height: $w;
            }
        }
    }
}