        // 中间内容样式
        main {
            width: 100%;
            height: 100%;
            background: #f5f5f5;
            position: relative;
            // 标题
            h2 {
                width: $w1;
                height: 58px;
                margin: $m;
                color: $color;
                font-size: 22px;
                line-height: 58px;
                position: relative;
                .swiper {
                    width: 70px;
                    height: 25px;
                    position: absolute;
                    @include borderstyle(1px, solid, #ccc);
                    top: 16px;
                    right: 0px;
                    text-align: center;
                    line-height: 25px;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    >span {
                        width: 35px;
                        text-align: center;
                        color: gray;
                    }
                    span:last-child {
                        border-left: 1px solid gray;
                    }
                    span:hover {
                        color: #e53935;
                    }
                }
                // 手机
                .swiper-phone {
                    width: 92px;
                    height: 58px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: flex;
                    justify-content: center;
                    >span {
                        // width: 46px;
                        font-size: 16px;
                    }
                    span:last-child {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        // background: gray;
                    }
                }
                .swiper-home {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: flex;
                    justify-content: center;
                }
            }
            // 标题下面的内容
            .row {
                width: $w1;
                margin: $m;
                margin-bottom: 26px;
                display: flex;
                li:hover {
                    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                    transform: translate3d(0, -2px, 0);
                }
                li {
                    width: 234px;
                    margin-right: 14px;
                    text-align: center;
                    background: #fff;
                    font-size: 14px;
                }
                .count-down {
                    width: 234px;
                    height: 339px;
                    border-top: 1px solid #e53935;
                    margin-right: 14px;
                    background: #fff;
                    text-align: center;
                    p:nth-child(1) {
                        margin-top: 20px;
                    }
                    p:nth-child(2) {
                        margin-left: 98px;
                        width: 34px;
                        height: 53px;
                    }
                    p>img {
                        width: 34px;
                        height: 53px;
                    }
                }
                p {
                    @include boxsize;
                    color: #333333;
                }
                p:last-child {
                    color: #e53935;
                }
                .slideshow-small {
                    li {
                        height: 339px;
                    }
                    li:nth-child(1) {
                        border-top: 1px solid #ab32ab;
                    }
                    li:nth-child(2) {
                        border-top: 1px solid #1c40b8;
                    }
                    li:nth-child(3) {
                        border-top: 1px solid #32ab9b;
                    }
                    li:last-child {
                        margin-right: 0px;
                        border-top: 1px solid #c9dd17;
                    }
                    div {
                        margin-top: 30px;
                    }
                }
                .phone-span {
                    width: 234px;
                    height: 614px;
                    margin-right: 14px;
                    img {
                        width: 234px;
                        height: $w;
                    }
                }
                .phone-kind {
                    li {
                        height: 300px;
                    }
                    li:nth-child(4) {
                        margin-right: 0px;
                    }
                    li:last-child {
                        margin-right: 0px;
                    }
                    li:nth-child(-n+4) {
                        margin-bottom: 14px;
                    }
                }
                .tupian {
                    width: 234px;
                    height: 204px;
                    >img {
                        width: $w;
                        height: $w;
                    }
                }
                .home-span {
                    width: 234px;
                    height: 614px;
                    margin-right: 14px;
                    display: flex;
                    flex-direction: column;
                    float: left;
                    div {
                        width: 234px;
                        height: 300px;
                    }
                    div:first-child {
                        margin-bottom: 14px;
                        background: sandybrown;
                    }
                }
                .homeappliances {
                    float: left;
                    display: none;
                    li {
                        width: 234px;
                        height: 300px;
                        margin-right: 14px;
                        margin-bottom: 14px;
                    }
                    li:nth-child(4) {
                        margin-right: 0px;
                    }
                    li:last-child {
                        margin-right: 0px;
                        display: flex;
                        flex-direction: column;
                        background: none;
                    }
                    li:nth-child(n+4) {
                        margin-bottom: 0px;
                    }
                }
                #brick-item {
                    width: $w;
                    height: 143px;
                    margin-bottom: 14px;
                    background: #fff;
                    display: flex;
                    .tcl {
                        width: 97px;
                        height: $w;
                        text-align: center;
                        font-size: 12px;
                        padding-top: 48px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .skip {
                        width: 97px;
                        height: $w;
                        padding-top: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                #brick-items {
                    width: $w;
                    height: 143px;
                    background: skyblue;
                }
            }
            .banner-main {
                width: $w1;
                height: 120px;
                margin: $m;
                img {
                    width: $w1;
                    height: 120px;
                }
            }
            ol {
                width: $w1;
                margin: $m;
                overflow: hidden;
                li {
                    width: 296px;
                    height: 285px;
                    float: left;
                    margin-bottom: 26px;
                    margin-right: 14px;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
            .homeappliances:nth-of-type(1) {
                display: block!important;
                // font-size: 45px;
            }
        }
        
        // 右侧导航
        .nav-right {
            position: fixed;
            top: 360px;
            right: 0px;
            display: flex;
            flex-direction: column;
            li {
                width: 84px;
                height: 92px;
                border-bottom: 1px solid #ccc;
                background: #fff;
                text-align: center;
            }
            .border-last {
                border: none;
            }
            .lump-last {
                margin-top: 14px;
                display: none;
            }
            div {
                width: 30px;
                height: 30px;
                margin: $m;
                margin-top: 18px;
                margin-bottom: 8px;
                position: relative;
            }
            img {
                width: $w;
                height: $w;
                position: absolute;
                top: 0;
                left: 0;
            }
            .hide {
                z-index: -1;
            }
            span {
                font-size: 14px;
                color: #757575;
            }
            li:hover .hide {
                z-index: 1;
            }
            li:hover span {
                color: #e53935;
            }
        }