* {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 100%;
  overflow: hidden;
}

header .bannerAD {
  width: 100%;
  height: 120px;
  background: darkcyan;
}

header .bannerAD img {
  width: 100%;
  height: 100%;
}

header .nav {
  width: 100%;
  height: 40px;
  background: #333333;
  color: #b0b0b0;
}

header .nav .nav-main {
  width: 1226px;
  margin: 0 auto;
  font-size: 12px;
}

header .nav .nav-main a {
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
}

header .nav .nav-main span {
  margin: 0 .3em;
  color: #424242;
}

header .nav .nav-main a:hover {
  color: #fff;
}

header .nav .car {
  width: 120px;
  line-height: 40px;
  text-align: center;
  background: #424242;
  float: right;
  margin-left: 15px;
}

header .nav .car span {
  color: #b0b0b0;
}

header .nav .user {
  width: 142.47px;
  line-height: 40px;
  text-align: center;
  float: right;
}

header .container {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

header .container .biao {
  float: left;
  width: 50px;
  height: 50px;
  margin: 22px 0px;
}

header .container .list-nav {
  float: left;
  margin-top: 12px;
  margin-left: 180px;
}

header .container .list-nav a {
  display: block;
  line-height: 40px;
  text-align: center;
  padding: 22px 5px;
  font-size: 16px;
  color: #333333;
}

header .container .seek {
  margin-top: 30px;
  float: right;
}

header .container .txt {
  display: block;
  width: 245px;
  height: 40px;
  float: left;
}

header .container .tex-tow {
  width: 40px;
  height: 40px;
  float: left;
  border-left: none;
}

header .container input {
  border: solid 1px gray;
}

header .slideshow {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  margin-bottom: 14px;
  position: relative;
}

header .slideshow .nav-menu {
  width: 500px;
  height: 100%;
  background: #fff;
  display: none;
  position: absolute;
  top: 0;
  left: 234px;
  z-index: 1;
}

header ol {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

header ol li {
  width: 10px;
  height: 10px;
  float: left;
  border: solid 1px #757575;
  border-radius: 50%;
  background: #757575;
  margin: 0 2px;
}

header .click-left,
header .click-right {
  width: 41px;
  height: 69px;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  position: absolute;
  top: 192px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

header .click-left {
  left: 234px;
}

header .click-right {
  right: 0px;
}

header .banner {
  width: 100%;
  height: 100%;
}

header .banner img {
  width: 100%;
  height: 100%;
}

header .banner li {
  position: absolute;
  top: 0px;
  left: 0px;
}

header .nav-tow {
  width: 234px;
  height: 440px;
  padding-top: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: #696565;
  position: absolute;
  top: 0;
}

header .nav-tow a {
  display: block;
  height: 42px;
}

header .nav-tow li {
  width: 214px;
  height: 42px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 42px;
  position: relative;
  color: #fff;
}

header .nav-tow span {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 18px;
  color: #e0e0e0;
}

header .bottom {
  width: 1226px;
  height: 170px;
  margin: 0 auto;
}

header .bottom .fast {
  width: 228px;
  height: 158px;
  background: #333333;
  padding: 3px;
  float: left;
  margin-bottom: 26px;
}

header .bottom .fast li {
  width: 73px;
  height: 80px;
  border-right: 1px solid;
}

header .bottom .fast li:nth-child(3) {
  border-right: none;
}

header .bottom .fast li:last-child {
  border-right: none;
}

header .bottom .fast li:nth-child(-n+3) {
  border-bottom: 1px solid;
}

header .bottom .fast a {
  display: block;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  padding-top: 18px;
}

header .bottom .fast a img {
  width: 24px;
  height: 24px;
}

header .bottom .span1 {
  width: 315px;
  height: 164px;
  margin-left: 15px;
  float: left;
}

header .bottom .span1 img {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  position: relative;
}

main h2 {
  width: 1226px;
  height: 58px;
  margin: 0 auto;
  color: #333333;
  font-size: 22px;
  line-height: 58px;
  position: relative;
}

main h2 .swiper {
  width: 70px;
  height: 25px;
  position: absolute;
  border: solid 1px #ccc;
  top: 16px;
  right: 0px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 .swiper > span {
  width: 35px;
  text-align: center;
  color: gray;
}

main h2 .swiper span:last-child {
  border-left: 1px solid gray;
}

main h2 .swiper span:hover {
  color: #e53935;
}

main h2 .swiper-phone {
  width: 92px;
  height: 58px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 .swiper-phone > span {
  font-size: 16px;
}

main h2 .swiper-phone span:last-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
}

main h2 .swiper-home {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .row {
  width: 1226px;
  margin: 0 auto;
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .row li:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

main .row li {
  width: 234px;
  margin-right: 14px;
  text-align: center;
  background: #fff;
  font-size: 14px;
}

main .row .count-down {
  width: 234px;
  height: 339px;
  border-top: 1px solid #e53935;
  margin-right: 14px;
  background: #fff;
}

main .row p {
  width: 234px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: #333333;
}

main .row p:last-child {
  color: #e53935;
}

main .row .slideshow-small li {
  height: 339px;
}

main .row .slideshow-small li:nth-child(1) {
  border-top: 1px solid #ab32ab;
}

main .row .slideshow-small li:nth-child(2) {
  border-top: 1px solid #1c40b8;
}

main .row .slideshow-small li:nth-child(3) {
  border-top: 1px solid #32ab9b;
}

main .row .slideshow-small li:last-child {
  margin-right: 0px;
  border-top: 1px solid #c9dd17;
}

main .row .slideshow-small div {
  margin-top: 30px;
}

main .row .phone-span {
  width: 234px;
  height: 614px;
  margin-right: 14px;
}

main .row .phone-span img {
  width: 234px;
  height: 100%;
}

main .row .phone-kind li {
  height: 300px;
}

main .row .phone-kind li:nth-child(4) {
  margin-right: 0px;
}

main .row .phone-kind li:last-child {
  margin-right: 0px;
}

main .row .phone-kind li:nth-child(-n+4) {
  margin-bottom: 14px;
}

main .row .tupian {
  width: 234px;
  height: 204px;
}

main .row .tupian > img {
  width: 100%;
  height: 100%;
}

main .row .home-span {
  width: 234px;
  height: 614px;
  margin-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

main .row .home-span div {
  width: 234px;
  height: 300px;
}

main .row .home-span div:first-child {
  margin-bottom: 14px;
  background: sandybrown;
}

main .row .homeappliances {
  float: left;
  display: none;
}

main .row .homeappliances li {
  width: 234px;
  height: 300px;
  margin-right: 14px;
  margin-bottom: 14px;
}

main .row .homeappliances li:nth-child(4) {
  margin-right: 0px;
}

main .row .homeappliances li:last-child {
  margin-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
}

main .row .homeappliances li:nth-child(n+4) {
  margin-bottom: 0px;
}

main .row #brick-item {
  width: 100%;
  height: 143px;
  margin-bottom: 14px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .row #brick-item .tcl {
  width: 97px;
  height: 100%;
  text-align: center;
  font-size: 12px;
  padding-top: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

main .row #brick-item .skip {
  width: 97px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

main .row #brick-items {
  width: 100%;
  height: 143px;
  background: skyblue;
}

main .banner-main {
  width: 1226px;
  height: 120px;
  margin: 0 auto;
}

main .banner-main img {
  width: 1226px;
  height: 120px;
}

main ol {
  width: 1226px;
  margin: 0 auto;
  overflow: hidden;
}

main ol li {
  width: 296px;
  height: 285px;
  float: left;
  margin-bottom: 26px;
  margin-right: 14px;
}

main ol li:last-child {
  margin-right: 0;
}

main .homeappliances:nth-of-type(1) {
  display: block !important;
}

.nav-right {
  position: fixed;
  top: 360px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-right li {
  width: 84px;
  height: 92px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
}

.nav-right .border-last {
  border: none;
}

.nav-right .lump-last {
  margin-top: 14px;
  display: none;
}

.nav-right div {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 8px;
  position: relative;
}

.nav-right img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-right .hide {
  z-index: -1;
}

.nav-right span {
  font-size: 14px;
  color: #757575;
}

.nav-right li:hover .hide {
  z-index: 1;
}

.nav-right li:hover span {
  color: #e53935;
}

footer {
  width: 100%;
}

footer .serve {
  width: 100%;
}

footer .serve .serve-top {
  width: 1226px;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
  padding: 27px 0px;
}

footer .serve ul li {
  width: 242.73px;
  float: left;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}

footer .serve ul a {
  color: #616161;
  font-size: 16px;
}

footer .serve ul li:last-child {
  border-right: none;
}

footer .serve .serve-bottom {
  width: 1226px;
  height: 212px;
  margin: 0 auto;
  padding: 40px 0px;
}

footer .serve .guide {
  width: 974px;
  height: 100%;
  float: left;
}

footer .serve .guide li {
  width: 160px;
  border: none;
}

footer .serve .guide p {
  margin-top: 10px;
}

footer .serve .guide p a {
  color: #757575;
  font-size: 12px;
}

footer .serve .guide h3 {
  font-size: 14px;
  color: #424242;
  margin-bottom: 26px;
}

footer .serve .contact {
  width: 251px;
  color: #616161;
  font-size: 14px;
  text-align: center;
  float: left;
  border-left: 1px solid #e0e0e0;
}

footer .serve .contact .phone {
  color: #ff6700;
  font-size: 22px;
}

footer .serve .contact p {
  font-size: 12px;
}

footer .serve .contact a {
  width: 120px;
  height: 30px;
  display: block;
  border: solid 1px #ff6700;
  color: #ff6700;
  text-align: center;
  line-height: 30px;
  margin-left: 64px;
}

footer .serve .contact a:hover {
  color: #fff;
  background: #ff6700;
}

footer .serve .contact div {
  margin-top: 10px;
}

footer .copyright {
  width: 100%;
  background: #f5f5f5;
  padding: 30px 0px;
}

footer .copyright .copyright-main {
  width: 1226px;
  margin: 0 auto;
}

footer .copyright .equity {
  float: left;
  margin-right: 10px;
}

footer .copyright .equity-nav {
  font-size: 12px;
}

footer .copyright .equity-nav a {
  color: #757575;
}

footer .copyright .equity-nav span {
  margin: 0 .3em;
  color: #b0b0b0;
}

footer .copyright .equity-state {
  font-size: 12px;
  color: #757575;
}

footer .copyright .equity-state a {
  color: #757575;
}

footer .copyright .links {
  width: 1096px;
  height: 28px;
  margin: 0 auto;
  margin-top: 4px;
}

footer .copyright .links-noe {
  width: 83.02px;
  height: 28px;
}

footer .copyright .links-last {
  width: 105.6px;
  height: 40px;
}
